<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%=label_tag :category_id%>
    <%@categories.each do |cat|%>
      <%= f.radio_button(:category_id, cat.id, {checked: cat.id == @post.category_id, :required=>true})+ cat.name%>  
    <%end%>  
  </div>
  <div class="field">
    <%= f.label :published %><br>
    <%= f.radio_button :published, true, checked: @post.published%><span>yes</span>
    <%= f.radio_button :published, false, checked: !@post.published %><span>no</span>
    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
