
<h1>
  Setting Up Velociblogger
</h1>
<p>
  <b>Velociblogger</b> requires 2 accounts to function - Google and Disqus. 
</p>

<h2>
  Step 1: registering your app with Google.
</h2>

<p>
Register your application with Google using the 
 <a href="https://code.google.com/apis/console/" target="_BLANK">Google APIs Console</a>. 
 Under <quote>API Access</quote> you will find a <quote>Create client ID</quote> option. Use this to
 create a new Client ID and Secret.

 <%=form_tag("step_2", :method=>"POST") do %>
   <%=label_tag :client_id%>
   <%=text_field_tag :client_id, nil, :required=>true%>
   <%=label_tag :client_secret%>
   <%=text_field_tag :client_secret, nil, :required=>true%>
   <%=label_tag :Google_email_address%>
   <%=email_field_tag :email_address, nil, :required=>true%>
   <%=submit_tag "next"%>
 <%end%>