<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<div>
<%=if @category.posts.length < 1 %>
<p>
  sorry, no posts here.
</p>
<%=else %>
<ul>
<%@category.posts.each do |post|%>
  <li><%=link_to post.title, post.vanity_url%></li>
</ul>
<%end%>


