  <div>
    <small>posts per page</small>
    <%=[10, 20, 50, 100].collect do |n|
      link_to n, "/admin?posts_per_page=#{n}"
    end.join.html_safe%>
  <table>
    <tbody>
      <thead>
        <tr>
        <% %w[title published views category last_modified].each do |h|%>
          <th>
            <%=link_to h, "/admin?sort_posts_by="+url_encode(h), :title=>"sort posts by #{h}"%>
          </th>
        <%end%> 
    	</tr>
      </thead>
      <%@posts.each do |post|%>
        <tr>
          <td>
            <%=link_to post.title, post%>
          </td>
          <td>
            <%=if post.published then "yes" else "no" end%>
          </td>
          <td>
            <%=post.views%>
          </td>
          <td>
            <%=post.category.name%>
          </td>
          <td>
            <%=post.updated_at.to_date%>
          </td>
        </tr>  
      <%end%>  
    </tbody>    
  </table> 
</div>

