<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="loadCurtain" style="position:fixed; top:0; left:0; width:100%; height:100%; background:white; margin:0;">
</div>
<header id="vb_admin_header">
  <h1>
  	<a href="/admin">
  	  Admin Dashboard
    </a>
  </h1>
  <nav>
  <%=link_to "view live site", "/"%>
  <%=link_to "new post", new_post_path%>
  <%=link_to "new category", new_category_path%>
  <%=link_to "edit about page", "about/edit"%>
  <%=link_to "settings", "admin/settings"%>
  </nav>
</header>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<%= yield %>
<footer id="vb_admin_footer">
  <script type="text/javascript">
    $(document).on('page:change', function () 
    {
      $('#loadCurtain').fadeOut();
    });
  </script>
</footer>
</body>
</html>
