<!DOCTYPE html>
<html>
<head>
  <title><%=Rails.application.class.parent.to_s%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script type="text/javascript">
    applyTheme = function(){ return true; } 
  </script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<div id="loadCurtain" style="position:fixed; top:0; left:0; width:100%; height:100%; background:white; margin:0;">
  <noscript>
    Sorry, but JavaScript must be enable to view this page.
  </noscript>
</div>
<header id="vb_header">
  <h1>
  	<a href="/">
  	  <%=@blog.title%>
  	</a>
  </h1>
  <nav>
    <a href="/about">
      about
    </a>
    <a href="/posts">
      posts
    </a>
    <a href="/categories">
      categories
    </a>
    <%=if is_admin? then link_to "admin","/admin" end%> 
  </nav>
</header>
<%= yield %>
<footer id="vb_footer">
  <script type="text/javascript">
    $(document).on('page:change', function () 
    {
      applyTheme();
      $('#loadCurtain').fadeOut();
    });
  </script>
</footer>
</body>
</html>
